img {
    width: 5cm;
    height: 3cm;
}

body {
    background-color: cadetblue;
}

h6 {
    /* font-size: 560px; */
    font-size: 70px;
    /* color: #2db6a0; */
    color: rgb(55, 490, 12);
    font-family: Amatic;
}

