body {
    background-color: midnightblue;
}


#logo {

    position: absolute;
    top: 13.5cm;
    left: 10cm;
    width: 250px;
    height: 250px;
}



nav {
  
    position: relative;
    width: 100%;
    text-align: center;

}

#navPortrait {
    background-color: #99F52E;
}


#mes, #team {
    font-size: 29px;
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom:0px;
    background-color: #99F52E;
    margin-bottom: 0cm;
    height: 5cm;
    
}

.subtittle {
    position: relative;
    font-size: 34px;
    text-align: center;
    background-color: #99F52E;
    border-radius: 25px;
}

#subtittle {
    position: relative;
    font-size: 34px;
    text-align: center;
    background-color: #99F52E;
    border-radius: 25px;
    top:1.3cm;
}



th,tr,
td {
    border: 3px solid black;
}

#tablaDeFechas {
    position: relative;
    top:2cm;
    font-size: 34px;
    text-align: center;
    width: 100%;
    background-color: #99F52E;
    margin-bottom: 7cm;
    
    
}

.filtros {
    position: relative;
    top: 1cm;
    background-color: midnightblue;

}

.options {
    border-radius: 25px;
    background-color: #99F52E;
    padding: 1cm;
    font-size: 25px;
    height: 3cm;
    text-align: center;
}

select {
    border: none;
    background-color: #99F52E;
    width: 6cm;
    border-radius: 9px;

}

.redirection {
    padding-left: 1cm;
    padding-right: 1cm;
}


#navLandscape {
    background-color: #99F52E;
}

button {
    border: none;
    background-color: #99F52E;
}

div#navLandscape{
        display: none;
}

#filaArriba, #filaAbajo {
   display: none;
}


button.flecha {
    font-size:45px;
    background-color: midnightblue;
    color: #99F52E;
    font-weight:bold;
    height: 1.5cm;

}

div#flechas.row {
    position: relative;
    background-color: midnightblue;
    height: 1.5cm;
    width: 100%;
}

#contenidoPrincipal {
    position: absolute;
    top: 7.1cm;
    width: 100%;
}

@media only screen and (orientation: landscape)
                   and (max-device-width: 999px){
   
    div#navLandscape {
        display: inline-flex;
        background-color:midnightblue;
    }
    
    button {
        padding-left: 0.75cm;
        padding-right: 0.8cm;
 
    }

    div#navPortrait {
        display: none;
    }
    
    nav {
        height: 0.5cm;
        padding: 0.3cm;
        background-color: midnightblue; 
    }
    
    footer#iconosAbajo{
        display: none;
    }
    
    div.subtittle {
        font-size: 24px;
        top: 0.5cm;
    } 

    #flechas {
        display: none;
    }    
}


    






