<!DOCTYPE html>
<html lang="en">

<head>

    
  
    <script src="../javaScript/fechasDeJuegos.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="../estilos/nysl_2.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="shortcut icon" href="../imagenes/nysl_logo.png">
    <title>Schedule games</title>
    

</head>

<body style="background-color: midnightblue">


    <header>


    </header>


    <nav>

        <a class=" icono" href="/gameRules.html">
            <img class="" src="../imagenes/gameRules1.png" alt="HTML tutorial">
        </a>


        <a class="icono" href="aboutNYSL.html">
            <img class="img-responsive" src="../imagenes/aboutNYSL1.png" alt="HTML tutorial">
        </a>


        <a class="icono" href="gamesResults.html">
            <img class="img-responsive" src="../imagenes/gamesResultsDale.png" alt="HTML tutorial">
        </a>

    </nav>

    <div id="subtittle">

        Schedule games

    </div>

    <div class="navbar">

            <select id="mes" onchange="imprimirTablaPorMes()">
                <option value="select month">select month</option>
                <option value="all months">all months</option>
                <option value="September">September</option>
                <option value="October">October</option>
            </select>
        

        
            <select id="team" onchange="imprimirTablaPorTeam()">
                <option value="select team">select team</option>
                <option value="all teams">all teams</option>
                <option value="U1">U1</option>
                <option value="U2">U2</option>
                <option value="U3">U3</option>
                <option value="U4">U4</option>
                <option value="U5">U5</option>
                <option value="U6">U6</option>
            </select>
    </div>

   
        <table id="tablaDeFechas" >
            <script>

                imprimirTabla(fechas);

                function imprimirTablaPorMes() {
                    let valorMes = document.getElementById("mes").value;
                    if (valorMes != "select month" || valorMes != "all months") {
                        document.getElementById("team").value = "select team";
                        fechasBuscadas = filtrarMiembrosPorMes(valorMes);
                        imprimirTabla(fechasBuscadas);
                    }
                    if (valorMes == "all months"){
                        document.getElementById("team").value = "select team";
                        imprimirTabla(fechas);
                    }
                }

                function imprimirTablaPorTeam() {
                    let valorTeam = document.getElementById("team").value;
                    if (valorTeam != "all teams" || valorTeam != "select team") {
                        document.getElementById("mes").value = "select month";
                        fechasBuscadas = filtrarMiembrosPorTeam(valorTeam);
                        imprimirTabla(fechasBuscadas);
                    }
                    if (valorTeam == "all teams"){
                        document.getElementById("mes").value = "select month";
                        imprimirTabla(fechas);
                    }
                }


                function filtrarMiembrosPorMes(nameMes) {
                    let fechasBuscadas = [];
                    for (let i = 0; i < fechas.length; i++) {
                        if (fechas[i].mes == nameMes) {
                            fechasBuscadas.push(fechas[i]);
                        }
                    }
                    return fechasBuscadas;
                }

                function filtrarMiembrosPorTeam(nameTeam) {
                    let fechasBuscadas = [];
                    for (let i = 0; i < fechas.length; i++) {
                        if (fechas[i].equipoUno == nameTeam ||
                            fechas[i].equipoDos == nameTeam) {
                            fechasBuscadas.push(fechas[i]);
                        }
                    }
                    return fechasBuscadas;
                }


                function imprimirTabla(fechas) {
                    let tabla =
                        "<tr>\n" +
                        "<th>date</th>\n" +
                        "<th>times</th>\n" +
                        "<th>teams</th>\n" +
                        "<th>location</th>\n" +
                        "<th>Map<br> ubication</th>\n" +
                        "<th> Agendar</th>\n" +
                        "</tr>\n";

                    tabla += "<tbody>\n";

                    for (let i = 0; i < fechas.length; i++) {

                        tabla += "<tr>\n";
                        tabla += "<td>" + fechas[i].mes + " " +
                            fechas[i].dia + "</td>\n";
                        tabla += "<td>" + fechas[i].horario + "</td>\n";
                        tabla += "<td>" + fechas[i].equipoUno + "-" +
                            fechas[i].equipoDos + "</td>\n";
                        tabla += "<td>" + fechas[i].lugar + "</td>\n";
                        tabla += "<td>" +

                            "<a class='redirection' href='" + fechas[i].linkGoogleMaps + "'>" +
                            "<img src='../imagenes/googleMaps.jpg' alt='HTML tutorial'>" + "</a> \n" +
                            "</td>\n";

                        tabla += "<td>" +

                            "<a class='redirection' href='https://www.google.com/calendar'>" +
                            "<img src='../imagenes/calendar.jpg' alt='HTML tutorial'>" +
                            "</a>\n" +
                            "</td>\n" +
                            "</tr>";

                    }

                    tabla += "</tbody>\n";

                    document.getElementById("tablaDeFechas").innerHTML = tabla;
                    
                }

            </script>


        </table>
    

    <footer>
        <a class="icono" href="scheduleGames.html">
            <img class="img-responsive" src="../imagenes/scheduleGames.png" alt="HTML tutorial">
        </a>



        <a class="icono" href="nextGame.html">
            <img class="img-responsive" src="../imagenes/nextGame.png" alt="HTML tutorial">
        </a>

        
        <a class="icono" href="actualGame.html">
            <img class="img-responsive" src="../imagenes/actualGame.png" alt="HTML tutorial">
        </a>
    </footer>
</body>


</html>
