<!DOCTYPE html>
<html lang="en">

<head>

    <link href="../estilos/nysl_2.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <link rel="icon" href="../imagenes/nysl_logo.png"/>
    <title>Game rules</title>

</head>

<body class="game">

    <header>


    </header>


    <nav>

        <a class="icono" href="../htmls/gameRules.html">
            <img  src="../imagenes/gameRules1.png" alt="HTML tutorial">
        </a>

        <hr id="hr1">
        
        <a class="icono" href="../htmls/aboutNYSL.html">
            <img  src="../imagenes/aboutNYSL1.png" alt="HTML tutorial">
        </a>
        
        <hr id="hr2">

        <a class="icono" href="../htmls/gamesResults.html">
            <img  src="../imagenes/gamesResultsDale.png" alt="HTML tutorial">
        </a>

    </nav>

    <section id="subtittle">
        
        Game rules
    
    </section>


    
    <footer>
      <a class="icono" href="../htmls/scheduleGames.html">
            <img  src="../imagenes/scheduleGames.png" alt="HTML tutorial">
        </a>

        <hr id="hr3">
        
        <a class="icono" href="../htmls/nextGame.html">
            <img  src="../imagenes/nextGame.png" alt="HTML tutorial">
        </a>
        
        <hr id="hr4">

        <a class="icono" href="../htmls/actualGame.html">
            <img  src="../imagenes/actualGame.png" alt="HTML tutorial">
        </a>
</footer>




</body>


</html>
